{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "endOfLine": "auto",
  "tabWidth": 2,
  "printWidth": 120
}